* {
    background-color: black;
}

.container {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 250px;
    width: 500px;
    margin: 0 auto;

}

.circle {
    background-color: red;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin:auto;
}